beautifulsoup4==4.6.3
Flask==1.0.2
Flask-WTF==0.14.2
gunicorn==19.9.0
Jinja2==2.10
jinja2-time==0.2.0
jsonschema==2.6.0
Mesa==0.8.4
requests==2.19.1
urllib3==1.23
Werkzeug==0.15.3
wikipedia==1.4.0
WTForms==2.2.1
